* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

:root {
  --font-size-title: 2rem;
  --red: rgba(255, 3, 54);
  --red-hover: rgba(255, 3, 54, 0.7);

  --black: #000000;
  --black-light: rgba(0, 0, 0, 0.85);
  --black-hover: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
  --white: #fff;
  --bg-color: #f8f8f8;
}

/* NAV */

.nav {
  /* position: fixed; */
  width: 100%;
  background: var(--black);
  z-index: 99;
  /* margin-bottom: 6.4rem; */
  /* background-color: transparent; */
}

.nav__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.nav__logo {
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: var(--white);
}

.nav__logo a {
  color: var(--white);
  text-decoration: none;
}

.nav__links {
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
}

.nav__link {
  color: var(--white);
  /* color: var(--black); */
  text-decoration: none;
}

.nav__link:hover {
  color: var(--red);
}

.nav__buttons {
  display: flex;
  gap: 2rem;
  font-size: 1.2rem;
}

.nav__button {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  color: var(--white);
  text-decoration: none;
}

.nav__button:hover {
  color: var(--red);
}

/* HOME PAGE */
/* HERO */

.hero {
  width: 100%;
  background-image: url(/src/images/bg3.jpg);
  background-color: var(--bg-color);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 2200px;
  height: 50vh;
  /* position: relative; */
  /* top: 6.4rem; */
  /* margin-bottom: 10rem; */
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  /* margin-top: 1rem; */
}

/* HOME PAGE */
/* MEMBERSHIP */

.membership {
  width: 100%;
}

.membership__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.membership__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-wrap: balance;
  padding-bottom: 2rem;
}

.membership__title h2 {
  font-size: 2rem;
  padding-bottom: 1rem;
}

.membership__title p {
  padding-bottom: 0.3rem;
}

.membership__cards {
  display: grid;
  grid-template-columns: 500px 500px;
  /* gap: 1rem; */
  justify-content: space-between;
  align-items: center;
  align-content: center;
  /* border-radius: 1rem; */

  /* padding: 2rem; */
  /* background: aqua; */
}

.membership__card {
  padding: 2rem;
  border-radius: 2rem;
  /* background: red; */
}

.membership__card-info {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  /* color: var(--white); */
  /* align-items: center; */
  /* background: aqua; */
  border-radius: 0.5rem;
}

.membership__card-info h2 {
  font-size: 1.5rem;
}

.membership__card-info h3 {
  font-size: 1rem;
}

.membership__card-info h3 span {
  color: var(--red);
  font-size: 2rem;
}

.membership__card-info h1,
p {
  font-weight: 500;
  font-size: 1rem;
}

.membership__card-info p {
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--white);
}

.membership__card-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 1rem; */
}

.membership__card-links a:nth-child(1) {
  color: var(--white);
  text-decoration: none;
  border-bottom: 1px solid var(--white);
  font-weight: 1000;
}

.membership__card-links a:nth-child(2) {
  background: var(--red);
  color: var(--black);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  text-decoration: none;
  font-weight: bolder;
}

#card-premium {
  /* background: var(--black); */
  background: linear-gradient(to top left, var(--black), var(--black-light));
  color: var(--white);
  /* border: 3px solid var(--black); */
}

#card-premium h2 {
  display: flex;
  justify-content: space-between;
}

#card-premium h2 span {
  font-size: 1rem;
  background: var(--white);
  color: var(--black);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

#card-premium a:nth-child(2):hover {
  background: var(--red-hover);
  color: var(--black);
}

#card-classic {
  border: 3px solid var(--black);
}

#card-classic p {
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--black);
}

#card-classic a:nth-child(1) {
  color: var(--black);
  text-decoration: none;
  border-bottom: 1px solid var(--black);
  font-weight: 1000;
}

#card-classic a:nth-child(2) {
  background: var(--black);
  color: var(--white);
}

#card-classic a:nth-child(2):hover {
  background: var(--black-light);
  color: var(--white);
}

/* HOME PAGE */
/* HISTORY */

.history {
  width: 100%;
}

.history__container {
  display: flex;
  /* flex-direction: column; */
  /* grid-template-columns: 1fr 1fr; */
  justify-content: center;
  align-items: center;
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.history__grid {
  display: grid;
  /* grid-template-columns: repeat(2, minmax(0, 1fr)); */
  grid-template-columns: repeat(2, 600px);
  border: 1px solid var(--black);
}

.history__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 50%; */
}

.history__text h1 {
  font-size: 2rem;
}

.history__icon {
  font-size: 4rem;
  color: var(--red);
  padding-bottom: 0.5rem;
}

.history__text p {
  padding: 2rem 10rem;
  text-align: center;
}

.history__img-1 {
  background-image: url(../src/images/history5.jpg);
  width: 100%;
  /* background-color: var(--bg-color); */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 50vh;
  /* height: 100%; */
}

.history__img-2 {
  background-image: url(../src/images/history3.jpg);
  width: 100%;
  /* background-color: var(--bg-color); */
  /* background-size: fill; */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 50vh;
  /* height: 100%; */
}

.history__img-3 {
  background-image: url(../src/images/history6.jpg);
  width: 100%;
  /* background-color: var(--bg-color); */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 50vh;
  /* height: 100%; */
}

.history__img-4 {
  background-image: url(../src/images/history2.jpg);
  width: 100%;
  /* background-color: var(--bg-color); */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 50vh;
  /* height: 100%; */
}

/* HOME PAGE */
/* DOWNLOAD */

.download {
  width: 100%;
  background: var(--black);
}

.download__container {
  display: flex;
  /* flex-direction: column; */
  /* grid-template-columns: 1fr 1fr; */
  justify-content: center;
  align-items: center;
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.download__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
  gap: 0.5rem;
}

.download__link {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: var(--red);
  font-size: 1.2rem;
  /* border-bottom: 3px solid var(--red); */
}

.download__link div:nth-child(2) {
  border-bottom: 3px solid var(--red);
}

.download__icon {
  padding-right: 0.3rem;
}

/* FOOTER */

.footer {
  width: 100%;
  background: var(--bg-color);
}

.footer__container {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  justify-content: center;
  align-items: flex-start;
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.footer__socials {
  display: flex;
  flex-direction: column;
  color: var(--black);
}

.footer__socials h1 {
  font-size: 1.5rem;
}

.footer__socials p {
  max-width: 50%;
  padding: 1rem 0rem;
}

.footer__social-icons {
  display: flex;
  flex-direction: row;
  color: var(--black);
}

.footer__social-icons a {
  color: var(--black);
  padding-right: 1.5rem;
  font-size: 2rem;
}

.footer__social-icons a:hover {
  color: var(--black-light);
}

.footer__links,
.footer__hours {
  /* position: relative; */
  /* top: 10%; */
}

.footer__links-title,
.footer__hours-title {
  font-size: 1.5rem;
  padding-bottom: 1rem;
  font-weight: 900;
  text-transform: uppercase;
}

.footer__links-info,
.footer__hours-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
  text-decoration: none;
}

.footer__links-info a {
  text-decoration: none;
  color: var(--black);
}

.footer__hours-info li {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  /* justify-content: space-between; */
  /* align-items: center; */
}

/* ABOUT PAGE */

.about-title {
  padding-top: 5rem;
  /* background-image: url(../src/images/about-title.jpg); */
  background-size: cover;
  background-position: top -1200px center;
  background-repeat: no-repeat;
  opacity: 0.9;
}

.about-title__text {
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: var(--white); */
  color: var(--black);
  padding-bottom: 1rem;
  font-weight: bolder;
  font-size: 2rem;
  text-transform: uppercase;
}

/* GALLERY PAGE */

.gallery-title {
  padding-top: 5rem;
}

.gallery-title__text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--black);
  padding-bottom: 1rem;
  font-weight: bolder;
  font-size: 2rem;
  text-transform: uppercase;
}

/* GALLERYPAGE1 COMPONENT*/
/* GALLERYPAGE2 COMPONENT*/

.gallery {
  width: 100%;
}

.gallery__container {
  display: flex;
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  /* margin-bottom: 5rem; */
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 5rem;
  padding-bottom: 10rem;
  justify-content: center;
  /* min-height: 100vh; */
}

.gallery__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-content: center;
}

.gallery__photos {
  width: auto;
  height: 500px;
  background-size: cover;
}

.gallery__photos img {
  width: auto;
  height: 500px;
  background-size: cover;
  background: var(--white);
}

.gallery__page1-numbers,
.gallery__page2-numbers {
  position: relative;
  bottom: 75px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  gap: 1rem;
  /* padding-bottom: 5rem; */
}

.gallery__page2-numbers {
  bottom: 75px;
}

.gallery__page1-numbers div,
.gallery__page2-numbers div {
  border: 1px solid grey;
  border-radius: 0.3rem;
  color: var(--black);
}

.gallery__page1-numbers a,
.gallery__page2-numbers a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--black);
  font-weight: 900;
  width: 45px;
  height: 50px;
}

.gallery__page1-numbers div:nth-of-type(1) {
  background: var(--red);
}

.gallery__page1-number:nth-of-type(1) a {
  color: var(--white);
}

.gallery__page2-numbers div:nth-of-type(2) {
  background: var(--red);
}

.gallery__page2-number:nth-of-type(2) a {
  color: var(--white);
}

/* SCHEDULE PAGE */

.schedule-title {
  padding-top: 5rem;
  /* background-image: url(../src/images/schedule-title.jpg); */
  background-size: cover;
  background-position: bottom center;
  opacity: 0.9;
}

.schedule-title__text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--black);
  padding-bottom: 1rem;
  font-weight: bolder;
  font-size: 2rem;
  text-transform: uppercase;
}

/* SCHEDULE */

.calender {
  width: 100%;
}

.calender__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.calender__days {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background: #616365;
  padding: 1rem 0rem;
}

.calender__days p {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--white);
  font-size: 1rem;
  font-weight: 900;
}

.calender__days p {
  padding-bottom: 0.1rem;
  font-size: 1.3rem;
}

.calender__grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calender__classes {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-left: 1px solid var(--black);
  /* border-right: 1px solid var(--black); */
  margin: 1rem 0rem 0rem 0rem;
  padding: 0rem 0.5rem 0rem 0.5rem;
  gap: 1rem;
  line-height: 1.5;
}

.calender__classes:last-child {
  border-right: 1px solid var(--black);
}

.calender__classes a {
  padding: 1rem 0rem;
  text-decoration: none;
  color: var(--black);
}

.calender__classes h5 {
  font-weight: 700;
}

.calender__classes h4 {
  font-size: 1.3rem;
}

.calender__classes a:hover {
  background: #f1f1f1;
  box-shadow: var(--black-hover);
  cursor: pointer;
  border-radius: 1rem;
}

/* CLASSES PAGE */

.classes-title {
  padding-top: 5rem;
  /* background-image: url(../src/images/schedule-title.jpg); */
  background-size: cover;
  background-position: bottom center;
  opacity: 0.9;
}

.classes-title__text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--black);
  padding-bottom: 1rem;
  font-weight: bolder;
  font-size: 2rem;
  text-transform: uppercase;
}

/* FITNESS */

.fitness {
  width: 100%;
}

.fitness__container {
  display: grid;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  /* background: aqua; */
  min-height: 100vh;
}

.fitness__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* height: fit-content; */
  gap: 2rem;
  min-height: 100vh;
}

.fitness__cards {
  position: relative;
  height: auto;
  width: auto;
  box-shadow: 0 0 10px 0 var(--bg-color);
  /* border-radius: 10px solid var(--black); */
  /* margin-top: -135px; */
}

.fitness__blur-load {
  height: 400px;
  width: 334px;
  background-size: cover;
  background-position: center;
  /* z-index: 11; */
}

.fitness__images {
  height: 400px;
  width: 334px;
  object-fit: cover;
  object-position: center;
}

/* .fitness__blur-load {
  opacity: 1;
  transition: opacity 200ms ease-in-out;
}

.fitness__blur-load.loaded > img {
  opacity: 0;
}

.fitness__images img {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.fitness__images.loaded img {
  opacity: 1;
  transition: opacity 200ms ease-in-out;
}

.fitness__photos img {
  height: 500px;
  width: auto;
  object-fit: cover;
  object-position: center;
} */

.fitness__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* position: relative; */
  /* top: 11px; */
  /* left: 40px; */
  /* padding-top: 280px; */
  /* padding-left: 0px; */
  color: var(--black);
  /* z-index: 1; */
  /* max-height: 100vh; */
  background: var(--bg-color);
  font-weight: bolder;
  padding: 2rem;
  border: 1px solid var(--black);
}

.fitness__text :not(.fitness__link) {
  /* text-shadow: 3px 2px 1px var(--black); */
}

.fitness__text h1 {
  font-size: 2rem;
  padding-bottom: 0.5rem;
}

.fitness__bar {
  border-top: 4px solid var(--red);
  width: 4rem;
  padding-bottom: 1rem;
}

.fitness__text h2 {
  font-size: 1rem;
  padding-bottom: 1rem;
}

.fitness__text-icon {
  padding-right: 0.5rem;
}

.fitness__link {
  /* position: relative; */
  /* top: 20px; */
  width: fit-content;
  color: var(--black);
  padding: 1rem 2.5rem;
  background: var(--white);
  text-decoration: none;
  transition: all 0.3s ease;
  border-radius: 0.2rem;
  outline: 2px solid var(--black);
  /* box-shadow: 0px 5px 5px 0px var(--black); */
}

.fitness__link:hover {
  background: var(--black);
  color: var(--white);
  transition: all 0.3s ease;
  outline: 2px solid var(--red);
}

.fitness__link-icon {
  padding-left: 0.5rem;
  color: var(--red);
}
