* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

:root {
  --font-size-title: 2rem;
  --red: rgba(255, 3, 54);
  --red-hover: rgba(255, 3, 54, 0.7);
  --black: #000000;
  --black-light: rgba(0, 0, 0, 0.7);
  --black-hover: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
  --white: #fff;
  --bg-color: #f8f8f8;
}

body {
  overflow-x: hidden;
}

/* NAV */

.nav {
  width: 100%;
  background: var(--black);
  z-index: 99;
}

.nav__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.nav__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: var(--white);
  position: sticky;
  z-index: 99;
}

.nav__logo a {
  color: var(--white);
  text-decoration: none;
}

.nav__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.2rem;
}

.nav__link {
  color: var(--white);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.nav__link:hover {
  color: var(--red);
  transition: all 0.3s ease-in-out;
}

.nav__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.nav__button-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  color: var(--white);
  text-decoration: none;
  outline: 1px solid var(--white);
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  transition: all 0.3s ease-in-out;
}

.nav__button-link:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  color: var(--red);
  text-decoration: none;
  outline: 1px solid var(--red);
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  transition: all 0.3s ease-in-out;
}

.nav__toggle {
  color: var(--white);
  display: none;
  cursor: pointer;
  padding: 0px;
}

/* NAV RESPONSIVE */

/* 2xl */
@media screen and (max-width: 1536px) {
  .nav__container {
    max-width: 1280px;
  }
  .nav__link {
    transition: none;
  }
}

/* xl */
@media screen and (max-width: 1280px) {
  .nav__container {
    max-width: 1024px;
  }
  .nav__logo {
    margin-left: 1rem;
    position: sticky;
    z-index: 999;
  }
  .nav__toggle {
    display: flex;
    color: var(--white);
    font-size: 2rem;
    height: fit-content;
    position: sticky;
    z-index: 99;
  }
  .nav__links {
    position: absolute;
    top: -1000px;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    background: var(--black);
    z-index: 11;
    left: 0%;
    width: 100%;
    transition: all 0.2s linear;
    gap: 2rem;
  }
  .nav__links.active {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    background: var(--black);
    z-index: 11;
    top: 100px;
    left: 0%;
    width: 100%;
    transition: all 0.2s linear;
    gap: none;
    padding: 0rem 0rem 1rem 0rem;
    text-align: center;
    gap: 1rem;
  }
  .nav__link.active {
    padding: 5rem;
  }
  .nav__buttons {
    position: absolute;
    top: -1000px;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    background: var(--black);
    z-index: 11;
    left: 0%;
    width: 100%;
    transition: all 0.2s linear;
    padding-top: 60px;
    padding-bottom: 100px;
  }
  .nav__buttons.active {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    background: var(--black);
    z-index: 11;
    top: 400px;
    left: 0%;
    width: 100%;
    transition: all 0.2s linear;
    padding: 1rem 0rem 5rem 0rem;
    gap: 1rem;
  }
}

/* lg */
@media screen and (max-width: 1024px) {
  .nav__container {
    max-width: 768px;
  }
}

/* md */
@media screen and (max-width: 768px) {
  .nav__container {
    max-width: 640px;
  }
}

/* sm */
@media screen and (max-width: 640px) {
  .nav__container {
    max-width: 475px;
  }
}

/* xs */
@media screen and (max-width: 475px) {
  .nav__container {
    width: 100%;
  }
}

/* 2xs */
@media screen and (max-width: 360px) {
  .nav__container {
    width: 100%;
  }
}

/* HOME PAGE */
/* HERO */

.hero {
  width: 100%;
  background-image: url(/src/images/hero-bg.jpg);
  background-color: var(--bg-color);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 2200px;
  height: 50vh;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 1rem;
}

/* HOME PAGE */
/* MEMBERSHIP */

.membership {
  width: 100%;
}

.membership__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.membership__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-wrap: balance;
  padding-bottom: 2rem;
}

.membership__title h1 {
  font-size: 2rem;
  padding-bottom: 1rem;
}

.membership__title p {
  text-align: center;
  padding-bottom: 0.3rem;
}

.membership__cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  gap: 2rem;
}

.membership__card {
  border-radius: 2rem;
}

.membership__card-info {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  border-radius: 0.5rem;
  width: 470px;
  height: 360px;
}

.membership__card-info h4 {
  font-weight: 500;
}

.membership__card-info h2 {
  font-size: 1rem;
}

.membership__card-info h1 {
  font-size: 1.5rem;
}

.membership__card-info h3 span {
  color: var(--red);
  font-size: 2rem;
}

.membership__card-info h2 {
  font-weight: 500;
  font-size: 1rem;
}

.membership__card-info p {
  width: 400px;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--white);
  text-wrap: balance;
}

.membership__card-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.membership__card-links a:nth-child(1) {
  color: var(--white);
  text-decoration: none;
  border-bottom: 1px solid var(--white);
  font-weight: 1000;
}

.membership__card-links a:nth-child(2) {
  background: var(--red);
  color: var(--black);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  text-decoration: none;
  font-weight: bolder;
}

#card-premium {
  background: linear-gradient(to top left, var(--black), var(--black-light));
  color: var(--white);
}

#card-premium h1 {
  display: flex;
  justify-content: space-between;
}

#card-premium h1 span {
  font-size: 1rem;
  background: var(--white);
  color: var(--black);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

#card-premium a:nth-child(2):hover {
  background: var(--red-hover);
  color: var(--black);
}

#card-classic {
  border: 3px solid var(--black);
}

#card-classic p {
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--black);
}

#card-classic a:nth-child(1) {
  color: var(--black);
  text-decoration: none;
  border-bottom: 1px solid var(--black);
  font-weight: 1000;
}

#card-classic a:nth-child(2) {
  background: var(--black);
  color: var(--white);
}

#card-classic a:nth-child(2):hover {
  background: var(--black-light);
  color: var(--white);
}

/* MEMBERSHIP RESPONSIVE */

/* 2xl */
@media screen and (max-width: 1536px) {
  .membership__container {
    max-width: 1280px;
  }
}

/* xl */
@media screen and (max-width: 1280px) {
  .membership__container {
    max-width: 1024px;
  }
}

/* lg */
@media screen and (max-width: 1024px) {
  .membership__container {
    max-width: 768px;
  }
  .membership__cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }
}

/* md */
@media screen and (max-width: 768px) {
  .membership__container {
    max-width: 640px;
  }
}

/* sm */
@media screen and (max-width: 640px) {
  .membership__container {
    max-width: 475px;
  }
  .hero {
    display: none;
  }
}

/* xs */
@media screen and (max-width: 475px) {
  .membership__container {
    width: 100%;
  }
  .membership__card-info {
    width: 350px;
    height: 360px;
    padding: 1rem 1rem;
  }
  #card-premium h2 span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
  }
  .membership__card-info p {
    width: 315px;
  }
}

/* 2xs */
@media screen and (max-width: 360px) {
  .membership__container {
    width: 100%;
  }
}

/* HOME PAGE */
/* HISTORY */

.history {
  width: 100%;
}

.history__container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.history__grid {
  display: grid;
  grid-template-columns: repeat(2, 600px);
  border: 1px solid var(--black);
}

.history__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0rem;
}

.history__icon {
  font-size: 4rem;
  color: var(--red);
  padding-bottom: 0.5rem;
}

.history__text h1 {
  text-align: center;
  font-size: 2rem;
}

.history__text p {
  width: 400px;
  padding: 2rem 0rem;
  text-align: center;
  text-wrap: balance;
}

.history__blur-load {
  width: 100%;
  height: 404px;
  background-size: cover;
  background-position: center;
}

.history__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* HISTORY RESPONSIVE */

/* 2xl */
@media screen and (max-width: 1536px) {
  .history__container {
    max-width: 1280px;
  }
}

/* xl */
@media screen and (max-width: 1280px) {
  .history__container {
    max-width: 1024px;
  }
  .history__grid {
    grid-template-columns: repeat(2, 500px);
  }
  .history__text p {
    width: 500px;
    padding: 2rem 2rem;
    text-align: center;
  }
}

/* lg */
@media screen and (max-width: 1024px) {
  .history__container {
    max-width: 768px;
  }
  .history__grid {
    grid-template-columns: repeat(2, 370px);
  }
  .history__icon {
    font-size: 3.5rem;
  }
  .history__text p {
    width: 350px;
  }
}

/* md */
@media screen and (max-width: 768px) {
  .history__container {
    max-width: 640px;
  }
  .history__grid {
    grid-template-columns: repeat(2, 300px);
  }
  .history__text p {
    width: 225px;
    padding: 2rem 0rem;
  }
}

/* sm */
@media screen and (max-width: 640px) {
  .history__container {
    max-width: 475px;
  }
  .history__grid {
    grid-template-columns: repeat(2, 220px);
  }
  .history__icon {
    font-size: 3rem;
  }
  .history__text h1 {
    text-align: center;
    font-size: 1.5rem;
  }
  .history__text p {
    width: 225px;
    padding: 1rem 1rem;
    text-align: center;
    text-wrap: balance;
  }
}

/* xs */
@media screen and (max-width: 475px) {
  .history__container {
    width: 100%;
  }
  .history__grid {
    grid-template-columns: 1fr;
    border: none;
    gap: 2rem 0rem;
  }
  .history__text p {
    width: 400px;
    padding: 1rem 2rem;
  }
  .history__blur-load {
    display: none;
  }
  .history__img {
    display: none;
  }
}

/* 2xs */
@media screen and (max-width: 360px) {
  .history__container {
    width: 100%;
  }
}

/* HOME PAGE */
/* DOWNLOAD */

.download {
  width: 100%;
  background: var(--black);
}

.download__container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.download__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
  gap: 0.5rem;
  text-wrap: balance;
  text-align: center;
}

.download__text h1 {
  font-size: 1rem;
}

.download__text p {
  font-size: 1.7rem;
}

.download__link {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: var(--red);
  font-size: 1.2rem;
}

.download__link div:nth-child(2) {
  border-bottom: 3px solid var(--red);
}

.download__icon {
  padding-right: 0.3rem;
}

/* FOOTER */

.footer {
  width: 100%;
  background: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__container {
  display: flex;
  justify-content: center;
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.footer__grid {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  gap: 2rem;
}

.footer__socials {
  display: flex;
  flex-direction: column;
  color: var(--black);
}

.footer__socials h1 {
  font-size: 1.5rem;
}

.footer__socials p {
  width: 70%;
  min-width: 200px;
  padding: 1rem 0rem;
  line-height: 1.3;
  text-wrap: balance;
}

.footer__social-icons {
  display: flex;
  flex-direction: row;
  color: var(--black);
}

.footer__social-icons a {
  color: var(--black);
  margin-right: 1.5rem;
  font-size: 2rem;
}

.footer__social-icons a:hover {
  color: var(--black-light);
}

.footer__links-title,
.footer__hours-title {
  font-size: 1.5rem;
  padding-bottom: 1rem;
  font-weight: 900;
  text-transform: uppercase;
  text-wrap: nowrap;
}

.footer__links-info,
.footer__hours-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
  text-decoration: none;
}

.footer__links-info a {
  text-decoration: none;
  color: var(--black);
}

.footer__links-info a:hover {
  color: var(--red);
}

.footer__hours-info li {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

/* FOOTER RESPONSIVE */

/* 2xl */
@media screen and (max-width: 1536px) {
  .footer__container {
    max-width: 1280px;
  }
}

/* xl */
@media screen and (max-width: 1280px) {
  .footer__container {
    max-width: 1024px;
  }
  .footer__grid {
    grid-template-columns: 2fr 1fr 1fr;
  }
}

/* lg */
@media screen and (max-width: 1024px) {
  .footer__container {
    max-width: 768px;
  }
  .footer__grid {
    grid-template-columns: 1.5fr 1fr 1fr;
    gap: 2.8rem;
  }
}

/* md */
@media screen and (max-width: 768px) {
  .footer__container {
    max-width: 640px;
  }
  .footer__grid {
    grid-template-columns: 1.5fr 1fr 1fr;
    gap: 1rem;
  }
  .footer__social-icons a {
    margin-right: 1rem;
  }
}

/* sm */
@media screen and (max-width: 640px) {
  .footer__container {
    max-width: 475px;
  }
  .footer__grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem 0rem;
  }
  .footer__socials {
    width: 100%;
    min-width: 0px;
    padding: 1rem 0rem;
    line-height: 1.3;
    text-wrap: balance;
    text-align: center;
  }
  .footer__socials p {
    width: 100%;
    min-width: 0px;
    padding: 1rem 0rem;
  }
  .footer__social-icons {
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }
  .footer__links-info,
  .footer__hours-info {
    text-align: center;
  }
}

/* xs */
@media screen and (max-width: 475px) {
  .footer__container {
    width: 100%;
  }
}

/* 2xs */
@media screen and (max-width: 360px) {
  .footer__container {
    width: 100%;
  }
}

/* PAGE TITLE */

.page-title {
  padding-top: 5rem;
  background-size: cover;
  background-position: top -1200px center;
  background-repeat: no-repeat;
  opacity: 0.9;
}

.page-title__text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--black);
  padding-bottom: 1rem;
  font-weight: bolder;
  font-size: 2rem;
  text-transform: uppercase;
}

/* CLASSES / FITNESS */

.fitness {
  width: 100%;
}

.fitness__container {
  display: grid;
  justify-content: center;
  align-items: center;
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  min-height: 100vh;
}

.fitness__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  min-height: 100vh;
}

.fitness__cards {
  position: relative;
  height: auto;
  width: auto;
  box-shadow: 0 0 10px 0 var(--bg-color);
}

.fitness__blur-load {
  height: 400px;
  width: 334px;
  background-size: cover;
  background-position: center;
}

.fitness__images {
  height: 400px;
  width: 334px;
  object-fit: cover;
  object-position: center;
}

.fitness__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--black);
  background: var(--bg-color);
  font-weight: bolder;
  padding: 2rem;
  border: 1px solid var(--black);
}

.fitness__text h1 {
  font-size: 2rem;
  padding-bottom: 0.5rem;
}

.fitness__bar {
  border-top: 4px solid var(--red);
  width: 4rem;
  padding-bottom: 1rem;
}

.fitness__text h2 {
  font-size: 1rem;
  padding-bottom: 1rem;
}

.fitness__text-icon {
  padding-right: 0.5rem;
}

.fitness__link {
  width: fit-content;
  color: var(--black);
  padding: 1rem 2.5rem;
  background: var(--white);
  text-decoration: none;
  transition: all 0.3s ease;
  border-radius: 0.2rem;
  outline: 2px solid var(--black);
}

.fitness__link:hover {
  background: var(--black);
  color: var(--white);
  transition: all 0.3s ease;
  outline: 2px solid var(--red);
}

.fitness__link-icon {
  padding-left: 0.5rem;
  color: var(--red);
}

/* FITNESS RESPONSIVE */

/* 2xl */
@media screen and (max-width: 1536px) {
  .fitness__container {
    max-width: 1280px;
  }
}

/* xl */
@media screen and (max-width: 1280px) {
  .fitness__container {
    max-width: 1024px;
  }
  .fitness__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* lg */
@media screen and (max-width: 1024px) {
  .fitness__container {
    max-width: 768px;
  }
}

/* md */
@media screen and (max-width: 768px) {
  .fitness__container {
    max-width: 640px;
  }
  .fitness__grid {
    grid-template-columns: 1fr;
  }
}

/* sm */
@media screen and (max-width: 640px) {
  .fitness__container {
    max-width: 475px;
  }
}

/* xs */
@media screen and (max-width: 475px) {
  .fitness__container {
    width: 100%;
  }
}

/* 2xs */
@media screen and (max-width: 360px) {
  .fitness__container {
    width: 100%;
  }
}

/* SCHEDULE / CALENDER */

.calender {
  width: 100%;
}

.calender__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.calender__classes a {
  height: 100px;
}

.calender__classes a > * {
  text-wrap: nowrap;
}

.calender__days {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background: #616365;
  padding: 1rem 0rem;
}

.calender__days p {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--white);
  font-size: 1rem;
  font-weight: 900;
}

.calender__days p {
  padding-bottom: 0.1rem;
  font-size: 1.3rem;
}

.calender__grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calender__classes {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-left: 1px solid var(--black);
  margin: 1rem 0rem 0rem 0rem;
  padding: 0rem 0.5rem 0rem 0.5rem;
  gap: 1rem;
  line-height: 1.5;
}

.calender__classes:last-child {
  border-right: 1px solid var(--black);
}

.calender__classes h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  border-radius: 1rem;
}

.calender__classes a {
  padding: 1rem 0rem;
  text-decoration: none;
  color: var(--black);
  outline: 1px solid #f1f1f1;
  border-radius: 1rem;
}

.calender__classes a:hover {
  background: #f1f1f1;
  box-shadow: var(--black-hover);
  cursor: pointer;
  border-radius: 1rem;
}

.calender__classes h5 {
  font-weight: 700;
}

.calender__classes h4 {
  font-size: 1.3rem;
}

/* CALENDER RESPONSIVE */

/* 2xl */
@media screen and (max-width: 1536px) {
  .calender__container {
    max-width: 1280px;
  }
  .calender__grid {
    display: flex;
    flex-direction: column;
    gap: 0rem;
  }
  .calender__classes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-top: 1px solid var(--black);
    border-left: none;
    border-right: none;
    padding-top: 1rem;
  }
  .calender__classes > * {
    width: 200px;
  }

  .calender__classes:last-child {
    border-right: none;
    border-bottom: 1px solid var(--black);
    padding-bottom: 1rem;
  }
}

/* xl */
@media screen and (max-width: 1280px) {
  .calender__container {
    max-width: 1024px;
  }
}

/* lg */
@media screen and (max-width: 1024px) {
  .calender__container {
    max-width: 768px;
  }
}

/* md */
@media screen and (max-width: 768px) {
  .calender__container {
    max-width: 640px;
  }
  .calender__classes > * {
    width: 290px;
  }
}

/* sm */
@media screen and (max-width: 640px) {
  .calender__container {
    max-width: 475px;
  }
  .calender__grid {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 290px;
  }
}

/* xs */
@media screen and (max-width: 475px) {
  .calender__container {
    width: 100%;
  }
}

/* 2xs */
@media screen and (max-width: 360px) {
  .calender__container {
    width: 100%;
  }
}

/* GALLERYPAGE1 COMPONENT*/
/* GALLERYPAGE2 COMPONENT*/

.gallery {
  width: 100%;
}

.gallery__container {
  display: flex;
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 5rem;
  padding-bottom: 10rem;
  justify-content: center;
}

.gallery__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.gallery__blur-load {
  width: auto;
  height: 500px;
  background-size: cover;
  background-position: center;
}

.gallery__photos {
  width: auto;
  height: 500px;
  object-fit: cover;
  object-position: center;
}

.gallery__page1-numbers,
.gallery__page2-numbers {
  position: relative;
  bottom: 75px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.gallery__page2-numbers {
  bottom: 75px;
}

.gallery__page1-numbers div,
.gallery__page2-numbers div {
  border: 1px solid grey;
  border-radius: 0.3rem;
  color: var(--black);
}

.gallery__page1-numbers a,
.gallery__page2-numbers a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--black);
  font-weight: 900;
  width: 45px;
  height: 50px;
}

.gallery__page1-numbers div:nth-of-type(1) {
  background: var(--red);
}

.gallery__page1-number:nth-of-type(1) a {
  color: var(--white);
}

.gallery__page2-numbers div:nth-of-type(2) {
  background: var(--red);
}

.gallery__page2-number:nth-of-type(2) a {
  color: var(--white);
}

/* GALLERY RESPONSIVE */

/* 2xl */
@media screen and (max-width: 1536px) {
  .gallery__container {
    max-width: 1280px;
  }
}

/* xl */
@media screen and (max-width: 1280px) {
  .gallery__container {
    max-width: 1024px;
  }
  .gallery__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* lg */
@media screen and (max-width: 1024px) {
  .gallery__container {
    max-width: 768px;
  }
}

/* md */
@media screen and (max-width: 768px) {
  .gallery__container {
    max-width: 640px;
  }
  .gallery__grid {
    grid-template-columns: 1fr;
  }
}

/* sm */
@media screen and (max-width: 640px) {
  .gallery__container {
    max-width: 475px;
  }
}

/* xs */
@media screen and (max-width: 475px) {
  .gallery__container {
    width: 100%;
  }
}

/* 2xs */
@media screen and (max-width: 360px) {
  .gallery__container {
    width: 100%;
  }
}

/* GOALS / TRACKER */

.tracker {
  width: 100%;
}

.tracker__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.tracker__container h1 {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.tracker__container p {
  padding-bottom: 2rem;
}

.tracker__interact {
  display: flex;
  justify-content: space-between;
  width: 40rem;
  gap: 2rem;
  border: 2px solid var(--black);
  border-radius: 0.4rem;
  padding: 0.5rem;
}

.tracker__input {
  width: 30rem;
}

.tracker__button {
  border: none;
  border-radius: 0.5rem;
  width: 5rem;
}
.tracker__button:hover {
  cursor: pointer;
  font-weight: 900;
}

.tracker__button-update {
  color: var(--red);
}
.tracker__button-update:hover {
  cursor: pointer;
  font-weight: 900;
}

.tracker__list {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

.tracker__list > * {
  /* margin: 1rem; */
}

.tracker__input {
  padding: 1rem;
}

.tracker__button {
  color: var(--white);
  background: var(--black);
  padding: 1rem;
}

.tracker__load {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10rem;
}

.list__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 40rem;
  padding: 0.5rem 1rem;
  background: var(--black);
  color: var(--white);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  text-wrap: nowrap;
}

.list__title {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.list__checkbox:checked + .list__text {
  text-decoration: line-through;
}

.list__text {
  max-width: 600px;
  min-width: none;
  overflow: hidden;
  background: var(--black);
  color: var(--white);
}

.list__icons {
  display: flex;
  gap: 2rem;
  font-size: 1.2rem;
  padding: 1rem;
}

.list__icon {
  width: 20px;
  height: auto;
  cursor: pointer;
}

.list__icon:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/* GOALS RESPONSIVE */
/* TRACKER RESPONSIVE */

/* 2xl */
@media screen and (max-width: 1536px) {
  .tracker__container {
    max-width: 1280px;
  }
}

/* xl */
@media screen and (max-width: 1280px) {
  .tracker__container {
    max-width: 1024px;
  }
}

/* lg */
@media screen and (max-width: 1024px) {
  .tracker__container {
    max-width: 768px;
  }
}

/* md */
@media screen and (max-width: 768px) {
  .tracker__container {
    max-width: 640px;
  }
  .tracker__interact {
    width: 25rem;
  }
  .tracker__input {
    width: 16rem;
  }
  .list__item {
    width: 25rem;
  }
}

/* sm */
@media screen and (max-width: 640px) {
  .tracker__container {
    max-width: 475px;
  }
}

/* xs */
@media screen and (max-width: 475px) {
  .tracker__container {
    width: 100%;
  }
}

/* 2xs */
@media screen and (max-width: 360px) {
  .tracker__container {
    width: 100%;
  }
}

/* CONTACT-US */

.contact-us {
  width: 100%;
}

.contact-us__container {
  display: grid;
  justify-content: center;
  align-items: center;
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.contact-us__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8rem;
  padding: 0rem 2rem;
}

.contact-us__text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 600px;
}

.contact-us__text h2 {
  font-size: 1.8rem;
}

.contact-us__bar {
  border-top: 4px solid var(--red);
  width: 4rem;
  margin-top: 0.3rem;
  padding-bottom: 1rem;
}

.contact-us__text p {
  text-wrap: balance;
  line-height: 1.7;
}

.contact-us__text p:first-of-type {
  padding-bottom: 0.5rem;
}

.contact-us__info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem 2rem;
  padding: 1rem 0rem;
}

.contact-us__info > div > p {
  display: flex;
  flex-direction: row;
}

.contact-us__contacts-icon {
  padding-right: 0.5rem;
}

.contact-us__info h4 {
  font-size: 1.5rem;
}

.contact-us__social-icons {
  display: flex;
  gap: 1rem;
}

.contact-us__social-icons > a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--black);
  font-size: 1.8rem;
  background: #f1f1f1;
  width: 50px;
  height: 50px;
  border-radius: 1rem;
  transition: all 0.2s ease-in-out;
}

.contact-us__social-icons a:hover {
  color: var(--red);
  outline: 1px solid var(--black);
  transition: all 0.2s ease-in-out;
}

.contact-us__form {
  display: flex;
  flex-direction: column;
  background: #f1f1f1;
  padding: 2rem 3rem;
}

.contact-us__form h3 {
  font-size: 1.5rem;
}

.contact-us__form-inputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-us__form-inputs > input,
.contact-us__form-inputs > select,
.contact-us__form-inputs > textarea {
  padding: 1rem;
}

.contact-us__form-inputs > textarea {
  height: 100px;
}

.contact-us__submit-button {
  width: fit-content;
  align-self: center;
  padding: 1rem 3rem;
  background: var(--red);
  border: none;
  color: var(--white);
  font-weight: 900;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 1rem;
}

.contact-us__submit-button:hover {
  filter: saturate(0.7);
}

/* CONTACT US RESPONSIVE */

/* 2xl */
@media screen and (max-width: 1536px) {
  .contact-us__container {
    max-width: 1280px;
  }
  .contact-us__grid {
    display: grid;
    grid-template-columns: repeat(2, 400px);
    gap: 10rem;
    padding: 0rem 1rem;
  }
  .contact-us__text {
    width: 500px;
  }
}

/* xl */
@media screen and (max-width: 1280px) {
  .contact-us__container {
    max-width: 1024px;
  }
}

/* lg */
@media screen and (max-width: 1024px) {
  .contact-us__container {
    max-width: 768px;
  }
  .contact-us__grid {
    display: flex;
    flex-direction: column;
    gap: 5rem 0rem;
    padding: 0rem 1rem;
  }
  .contact-us__text {
    width: 600px;
  }
}

/* md */
@media screen and (max-width: 768px) {
  .contact-us__container {
    max-width: 640px;
  }
}

/* sm */
@media screen and (max-width: 640px) {
  .contact-us__container {
    max-width: 475px;
  }
  .contact-us__text {
    width: 400px;
  }
  .contact-us__info {
    grid-template-columns: 1fr;
    gap: 3rem 2rem;
    padding: 1rem 0rem;
  }
}

/* xs */
@media screen and (max-width: 475px) {
  .contact-us__container {
    width: 100%;
  }
  .contact-us__text {
    width: 300px;
  }
}

/* 2xs */
@media screen and (max-width: 360px) {
  .contact-us__container {
    width: 100%;
  }
}

/* My Account Page */

.my-account {
  width: 100%;
}

.my-account__container {
  display: grid;
  justify-content: center;
  align-items: center;
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 5rem;
  padding-bottom: 10rem;
}

.my-account__form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background: #f1f1f1;
  padding: 3rem;
  width: 25rem;
  border-radius: 0.2rem;
  outline: 1px solid var(--black);
}

.my-account__form > * {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: var(--black);
  font-weight: 900;
}

.my-account__form label {
  font-size: 1.5rem;
}

.my-account__bar {
  border-top: 4px solid var(--red);
  width: 3.5rem;
  margin-top: 0.3rem;
  padding-bottom: 1rem;
}

.my-account__form input {
  font-size: 1rem;
  padding: 1rem;
}

.my-account__submit {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--black);
  padding: 1rem 0rem;
  font-size: 1.5rem;
  cursor: pointer;
  background: var(--red);
  color: var(--white);
  font-weight: 500;
  border: none;
}

.my-account__submit:hover {
  filter: saturate(0.7);
}

/*  NOT FOUND 404 COMPONENT */

.not-found {
  width: 100%;
}

.not-found__container {
  display: grid;
  justify-content: center;
  align-items: center;
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  min-height: 50vh;
}

.not-found__container > * {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-align: center;
}

.not-found__container > a {
  font-size: 3rem;
  margin-top: 2rem;
  padding: 1rem;
  outline: 1px solid var(--black);
  text-decoration: none;
  color: var(--black);
}
